body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    background-color: hwb(40 93% 5%);
}

.main-container {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
    max-width: 60%;
    margin: 0 auto;
}

h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.meme-title {
    padding: 0 0 1rem 0;
    border-top: 0.1rem solid #000;
}

.meme-input {
    visibility: hidden;
    width: 0;
    height: 0;
}

.meme-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head-text {
    font-weight: 500;
    color: blue;
}

.img {
    width: 0;
    height: 0;
    margin: 0 auto;
    display: block;
    visibility: hidden;
    transition: all 0.5s ease-out;
}

.icon {
    background-image: url(./assets/icon/face-grin-regular.svg);
    background-repeat: no-repeat;
    display: block;
    width: 1rem;
    height: 1rem;
    transition: all 0.5s ease-out;
}

.meme-input:checked ~.img {
    visibility: visible;
    width: 13rem;
    height: 13rem;
}

.meme-input:checked ~.meme-head>.head-text {
    color:black;
}

.meme-input:checked ~.meme-head>.icon {
    background-image: url(./assets/icon/face-dizzy-regular.svg);
}

@media (min-width:820px) {
  
    .meme-input:checked ~.img {
        width: 18rem;
        height: 18rem;
    }
  
  }

@media (min-width:1024px) {
    
    .icon {
       opacity: 0;
    }

    .meme-input:checked ~.img {
        width: 22rem;
        height: 22rem;
    }

    .main-container:hover .meme-title {
        cursor: pointer;
    }
    
    .main-container:hover .icon {
        opacity: 1;
    }
    
}